<div class="tac" bgcolor="hite">
    <hr bgcolor="gray">
    <a margintop="2rem" href="about/" globalize-get="about_us">About</a> · <a href="policy/privacy/"
        globalize-get="privacy_policy">Privacy</a> · <a href="policy/cookie/" globalize-get="cookie_policy">Cookie</a>
    <figure class="flc wc_xm pauto">
        <img src="assets/img/logo.svg" width="60%">
    </figure>
</div>

<section class="bcgray white white- p1">
    <div class="wc_xxl db tac">
        <select>
            <option value="en">English</option>
        </select>
        <hr class="mt1 shade1">
        <a href="https://www.facebook.com/aramean.center" target="_blank" alt="facebook"><i class="icon32">ⓕ</i></a>
        <a href="https://www.linkedin.com/company/aramean-center" target="_blank" alt="LinkedIn"><i
                class="icon32">㏌</i></a>
        <hr class="mt1 shade1">
    </div>
</section>